 body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      color: #333;     
      background-color: #eee;
      margin: 0;
  }

  ul, dl, dt, dd, h1, h2,h3,
  h4, p, form, figure,input {
      font-weight: normal;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    
  a {
      color: #333;
      text-decoration: none;
  }
